name: Build and Deploy redis database to Development

on:
  push:
    branches-ignore:
      - main   

  pull_request:
    branches:
      - develop

  workflow_dispatch:

jobs:
  deploy:
    uses: robot-shop-DevOps/robot-shop-github-actions/.github/workflows/databases.yaml@main
    with:
      IMAGE: redis
      NAMESPACE: redis-database
      RELEASE: redis
      DOCKERFILE_PATH: ./redis
      IMAGE_OVERRIDE_PATHS: "statefulset.pod.containers[0].image"
    secrets: inherit