name: Build and Deploy redis database to Development

on:
  push:
    branches:
      - '**'   

  pull_request:
    branches:
      - develop

jobs:
    build:
      runs-on: robot-shop-runner-azure-dev

    deploy:
      runs-on: robot-shop-runner-azure-dev